    <!-- About Section -->
    <section id="about" class="container content-section text-center" style="margin-bottom: 10vw">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <img src="../img/DP.jpg" style="max-width: 30%; border-radius:50%; margin-top: 20px; margin-bottom: 5vw">
                <h2>About Me</h2>
                <p>I am a Computer Science And Engineering Undergraduate at Motilal Nehru National Institute of Technology, Allahabad, India.</p>
                <p>Machine learning and linux are the love of my life.</p>
            </div>
        </div>
    </section>