    <!-- repositories Section -->
    <section id="blog" class="content-section text-center">
        <div class="blog-section">
            <div class="container">
                <div class="col-sm-6 col-sm-offset-3" style="margin-top: 20vh">
                    <h2>Blog</h2>
                    <p>I seldom write about my experiences in programming and anything that might be of help to anyone.</p>
                    <p>
                    <a href="https://packetChor.github.io/blog/" class="btn btn-default btn-lg">VISIT BLOG</a></p>
                </div>
            </div>
        </div>
    </section>
