    <!-- repositories Section -->
    <section id="blog" class="content-section text-center">
        <div class="blog-section">
            <div class="container">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2>My Blog</h2>
                    <p>I seldom write about my experiences in programming and anything that might be of help to anyone. My blog is called Project Sirius</p>
                    <p>Be Sirius ; )
                    <a href="https://packetChor.github.io/Projectsirius/" class="btn btn-default btn-lg">here</a></p>
                </div>
            </div>
        </div>
    </section>