    <!-- repositories Section -->
    <section id="repositories" class="content-section text-center">
        <div class="repositories-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Repositories</h2>
                    <p>You can view all my repositories</p>
                    <a href="https://github.com/packetChor" class="btn btn-default btn-lg">here</a>
                </div>
            </div>
            <div class="container" style="margin-top: 50px">
                <div class="col-md-10 col-md-offset-1 text-left">
                    <li style="list-style:none">
                        <a href="https://github.com/packetChor/Machinelearning"><h4 style="margin-bottom: 20px">Machine Learning</h4></a>
                        <div>
                            <p class="text-left">
                                This repository contains machine learning codes in python, octave and MATLAB programming languages of the machine learning problems that I have solved.
                            </p>
                        </div>
                    </li>
                    <li style="list-style:none">
                        <a href="https://github.com/packetChor/PROG_TOOLS2"><h4 style="margin-bottom: 20px">Programming Tools 2</h4></a>
                        <div>
                            <p class="text-left">
                                Solutions to the lab assignments of the programming tools-2 lab of my college. These are C programs involving basic linux system calls
                            </p>
                        </div>
                    </li>
                    <li style="list-style:none">
                        <a href="https://github.com/packetChor/PlayGround"><h4 style="margin-bottom: 20px">Playground</h4></a>
                        <div>
                            <p class="text-left">
                                I created this repository to accomodate my random codes, So that my github doesn't become a junkyard. It contains codes varying from algorithms in C to applescripts for automation on a mac to bash scripts which does a dictionary search for possible solutions of a quiz.
                            </p>
                        </div>
                    </li>
                </div>
            </div>
        </div>
    </section>